@charset "UTF-8";

*{
    font-family: 'Times New Roman', Times, serif;  
    text-align: justify;   
}
body{
    height: 100%;
    background-image: linear-gradient(to bottom, rgb(184, 184, 184), rgb(102, 101, 101), rgb(54, 54, 54));
    background-attachment: fixed;
}
header{
    background-color: white;
    width: 770px; 
    margin: auto;
    border-radius: 10px;
    height: 100%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.582);
}
main{
    background-color: white;
    width: 750px;
    
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    height: 100%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.582);
}
h1{
    text-align: center;
    color: rgba(221, 125, 0, 0.74);
}
h2{
    color: rgba(2, 2, 141, 0.959);
    text-align: justify;
}
